<header class="header">
  <h1 data-test="search-results-title">Chuck Norris Facts</h1>
</header>

<%= form_tag("/", method: "get", class: "search-box") do %>
	<%= text_field_tag :query, nil, placeholder: "Free text to search chuck jokes" %>
	<%= button_tag "Search", type: "submit", name: "search-button" %>
<% end %>

<div class="divider">Or</div>

<%= form_tag("/", method: "get", class: "search-box") do %>
	<%= hidden_field_tag :random, true %>
	<%= select_tag "categories", options_for_select(@categories), include_blank: "Any category", "data-test": "categories" %>
	<%= button_tag "Random", type: "submit", name: "random-button" %>
<% end %>

<% if @search_results %>
  <ul data-test="search-results" class="search-results">
    <%= render partial: "search_result", collection: @search_results %>
  </ul>
<% end %>
