body {
	padding: 1rem;
}

.header {
	display: flex;
	justify-content: center;
	padding: 1rem 0;
	font-size: 0.9rem;
}

.search-box {
	display: flex;
	justify-content: center;
	max-width: 768px;
	margin: 0 auto;
}

.search-box > input {
	border: 1px solid #ccc;
	display: block;
	padding: 1rem;
	width: 100%;
}

.search-box > button {
	background-color: #2185d0;
	border: none;
	color: white;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	min-width: 125px;
}

.search-box > select {
	width: 100%;
	border: 1px solid #ccc;
	background-color: white;
	padding: 1rem;
}

.search-results {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 0 1rem;
	margin-top: 2rem;
	border-top: 1px solid #ccc;
}

.search-results > li {
	word-break: break-all;
	max-width: 768px;
	padding: 1rem;
	margin-bottom: 1rem;
	text-align: left;
	width: 100%;
	list-style-type: none;
	border: 1px solid #ddd;
	border-left: 0.5rem solid #eee;
}

.search-results > li > .category {
	display: block;
	font-size: 0.75rem;
	margin-top: 0.25rem;
	color: gray;
}

.divider {
	display: flex;
	justify-content: center;
	padding: 1rem 0;
	text-transform: uppercase;
	font-weight: bold;
}
